@import "../variables.scss";
@import "../mixins.scss";
@import "../header/header.scss";
@import "../header/header-media.scss";
@import "../headline/headline.scss";
@import "../about/about.scss";
@import "../customers/customers.scss";
@import "../features/features.scss";
@import "../footer/footer.scss";

@import "./media-layout.scss";
@import "../media_breakpoints.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", serif;
  color: $color-description;
}

.page {
  width: 100%;
  overflow-x: hidden;
  .top-section {
    background-color: $color-background-main;
  }
}
