@import "../variables.scss";
@import "../mixins.scss";
@import "../footer/footer.scss";
@import "../header/header.scss";
@import "../header/header-media.scss";
@import "../headline/headline.scss";
@import "../about/about.scss";
@import "../customers/customers.scss";
@import "../features/features.scss";
@import "../media_breakpoints.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", serif;
  color: $color-description;
}

.page {
  width: 100%;
  overflow-x: hidden;
  .top-section {
    background-color: $color-background-main;
  }
}

@include desktop {
  .page {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1400px;

    min-height: 100vh;

    .top-section {
      padding-top: 39px;
      background-color: $color-background-main;
    }
  }
}
