@include desktop {
  .page {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1400px;

    min-height: 100vh;

    .top-section {
      padding-top: 39px;
      background-color: $color-background-main;
    }
  }
}
