@import "../media_breakpoints.scss";

.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 64px;
  width: 100%;
  background-color: $background-color-header-mobile;
  .logo {
    display: flex;

    &__image {
      margin-right: 13px;
      width: 48px;
      height: 48px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__name {
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
      }

      &__description {
        display: none;
      }
    }
  }

  .navigation {
    display: none;
  }

  &__button {
    display: none;
  }
}
