@include desktop {
  .header {
    display: flex;
    width: 1140px;
    height: 62px;
    margin: auto;

    .navigation {
      display: block;
      margin-top: 7px;
      margin-left: auto;
      margin-right: 75px;
    }
    .header__button {
      display: block;
      @include custom-button;
    }
    .logo__description {
      display: block;
      font-size: 18px;
      line-height: 25px;
      font-weight: 400;
      opacity: 0.6;
      color: $color-description;
    }
  }
}
