@import '../media_breakpoints.scss';
@import '../variables.scss';

@include desktop {
  .customers {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    margin: auto;
    width: 1140px;

    &__item {
      border: none;
    }

    &__row {
      flex: 1;
      justify-content: space-around;
    }
  }
}
