@import '../variables.scss';
.customers {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__item {
    height: 94px;
    width: 107px;
    border-bottom: 1px solid $customers-border-color;
    border-right: 1px solid $customers-border-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item:last-child {
    border-right: none;
  }
  &__logo {
    max-width: 80%;
    filter: brightness(0);
  }
}
