@import '../variables.scss';

.about {
  padding: 46px 15px;
  width: 100%;
  background: $background-color-about;
}

.article {
  &:last-child {
    margin-top: 20px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: $color-description;
  }

  &__text {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 32px;
    color: $color-description;
    opacity: 0.6;
  }
}
