@import "./mixins.scss";
@import "./variables.scss";
@import "./media_breakpoints.scss";

.audience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding-left: 15px;
  padding-right: 15px;
  background-color: $audience-background-mobile;
  opacity: 0.7;
  &__title-small {
    margin-top: 50px;
    margin-bottom: 0;

    font-size: 22px;
    line-height: 34px;
    color: $color-description;
    text-align: center;

    @include desktop {
      margin-top: 108px;
    }
  }

  &__title-big {
    margin-top: 17px;
    width: 290px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.3571428954601288px;
    color: $color-description;

    @include desktop {
      margin: auto;
      margin-top: 24px;

      width: 556px;
      font-weight: 700;
      font-size: 56px;
      //line-height: 100%;
      letter-spacing: -0.01em;

      color: $color-description;
    }
  }

  &__description {
    margin-top: 18px;
    margin-bottom: 0;
    width: 290px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: $color-description;

    @include desktop {
      margin: auto;
      margin-bottom: 0;
      margin-top: 30px;
      width: 556px;
    }
  }

  &__actions {
    margin-top: 30px;

    @include desktop {
      margin-top: 34px;
    }
  }

  &__button {
    @include custom-button;
    margin-top: 12px;

    width: 290px;
    background-color: $color-text-white;
    color: $audience-button-black;

    @include desktop {
      margin-left: 10px;
      width: 158px;
    }
  }

  &__button-1 {
    @include custom-button;
    width: 290px;

    @include desktop {
      width: 160px;
    }
  }

  &__links {
    margin-top: 40px;

    @include desktop {
      display: flex;
      margin: auto;
      margin-top: 111px;
      margin-bottom: 110px;
    }
  }

  &__links-item {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    margin-bottom: 15px;
    width: 290px;
    height: 300px;
    border-radius: 8px;
    background-color: $color-text-white;
    box-shadow: 0px 13px 18px 0px #00000026;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    cursor: pointer;

    @include desktop {
      width: 262px;
      margin-right: 30px;
    }
  }

  &__links-item:last-child {
    margin-bottom: 50px;
    @include desktop {
      margin-right: 0;
    }
  }
  &__links-item:hover {
    @include desktop {
      background-color: $audience-background-selected;
    }
  }

  &__links-item a {
    text-decoration: none;
  }

  &__links-caption {
    font-size: 22px;
    line-height: 28px;
    color: $color-description;
  }

  &__links-caption:hover {
    @include desktop {
      color: $background-color-header-mobile;
    }
  }
}
