$breakpoint_desktop: 1400px;

@mixin desktop {
  @media screen and (min-width: $breakpoint_desktop) {
    @content;
  }
}

@mixin smaller {
  @media screen and (max-width: #{$breakpoint_desktop - 1}) {
    @content;
  }
}

.hide_desktop {
  @include desktop {
    display: none;
  }
}

.hide_mobile {
  @include smaller {
    display: none;
  }
}
