@import "./variables.scss";
@import "./media_breakpoints.scss";

.customers {
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    margin: auto;
    width: 1140px;
  }
  &__row {
    display: flex;

    @include desktop {
      flex: 1;
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 94px;
    width: 107px;
    border-bottom: 1px solid $customers-border-color;
    border-right: 1px solid $customers-border-color;

    @include desktop {
      border: none;
    }
  }

  &__item:last-child {
    border-right: none;
  }
  &__logo {
    max-width: 80%;
    filter: brightness(0);
  }
}
