.footer {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  .footer-navigation {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
  }
  .footer-line {
    border-top: 0.5px solid $color-description;
    width: 100%;
    opacity: 0.1;
    margin: 0;
  }
  .footer-links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    .footer-navigation__items {
      text-decoration: none;
      margin: 0 auto;
      width: 1140px;
    }
  }
}
