@import "./breakpoints.scss";
@import "./common.scss";
@import "./variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.footer-navigation {
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    width: 1140px;
    height: 338px;
  }
}

.about-company {
  margin-top: 0;
  @include desktop {
    margin-top: 44px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;

  margin-left: 15px;

  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    height: 50px;
  }
}

.useful-link {
  margin: 0 auto;
  width: 1140px;
  height: 338px;
}

.footer-line {
  margin: 0;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid $color-description;
  opacity: 0.1;

  @include desktop {
    margin: 0;
  }
}

.terms {
  line-height: 157%;
  opacity: 0.6;
  font-size: 14px;
  margin-top: 22px;

  @include desktop {
    margin-top: 0;
    line-height: 129%;
  }

  &__items {
    margin-right: 22px;
    text-decoration: none;
    color: $color-description;
  }
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
  @include desktop {
    height: 50px;
    margin-left: auto;
    margin-bottom: 0;
  }

  &__items {
    margin-left: 20px;
  }

  &__items:first-child {
    margin-left: 0;
  }
}

.logo {
  display: flex;

  &__image {
    margin-right: 13px;
    width: 48px;
    height: 48px;

    margin-right: 15px;
    width: 60px;
    height: 60px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 20px;
    line-height: 125%;
    font-weight: 700;
  }

  &__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    opacity: 0.6;
    color: $color-description;
  }
}

.footer-description {
  display: none;
  margin: 0;
  @include desktop {
    display: block;
    margin-top: 25px;
    margin-bottom: 0;
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: rgba(43, 41, 45, 0.6);
  }
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 32px 15px 0 15px;

  @include desktop {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }

  &__item {
    margin-right: 10px;
  }
}

.additional-navigation {
  display: flex;
  flex-direction: column;

  margin-left: 15px;
  margin-right: 15px;

  @include desktop {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
  &__column {
    margin-top: 30px;

    @include desktop {
      margin-top: 0;
      margin-right: 29px;
    }
  }
}

.correct {
  margin-top: 31px;
  @include desktop {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    color: $color-description;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    margin: 0;
    margin-top: 18px;

    opacity: 0.6;
    list-style-type: none;
  }

  &__list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: $color-description;
  }
}

.footer .logo {
  @include smaller {
    display: none;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  @include desktop {
    display: none;
  }

  logo-vertical__image {
    border-radius: 14px;
    width: 60px;
    height: 60px;
  }

  &__text {
    margin-top: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: $color-description;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    color: $color-description;
    opacity: 0.6;
  }
}

.hide_desktop {
  @include desktop {
    display: none;
  }
}

.hide_mobile {
  @include smaller {
    display: none;
  }
}
