.footer {
  margin-top: auto;

  display: flex;
  flex-direction: column;

  .footer-navigation {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    .about-company {
      margin-top: 44px;
      .footer__description {
        width: 360px;
        height: 85px;
        margin-top: 26px;
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
      }
      .downloads {
        margin-top: 25px;
        .downloads__item {
          margin-right: 10px;
        }
      }
    }

    .additional-navigation {
      display: flex;
      margin-top: 60px;
      margin-left: auto;

      .additional-navigation__column {
        margin-right: 29px;
      }
      .nav-links {
        width: 265px;
        .nav-links__title {
          color: $color-description;
          font-size: 22px;
          font-weight: 700;
          line-height: 28px;
          margin: 0;
        }
        .nav-links__list {
          margin: 0;
          padding: 0;
          margin-top: 18px;
          list-style: none;
          color: $color-description;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          opacity: 0.6;
        }
      }
    }
  }
  .footer-line {
    border-top: 0.5px solid $color-description;
    width: 100%;
    opacity: 0.1;
    margin: 0;
  }
  .footer-links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .terms {
      line-height: 50px;
      font-size: 14px;
      .terms__items {
        text-decoration: none;
        margin-right: 22px;

        color: $color-description;
        opacity: 0.6;
      }
    }

    .social-links {
      margin-left: auto;
      .social-links__item {
        text-decoration: none;
        margin-left: 20px;
      }
      .social-links__item_twitter {
        width: 21px;
        height: 16px;
      }
    }
  }
}
