@import "./media_breakpoints.scss";
@import "./mixins.scss";
@import "./variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.footer-navigation {
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    width: 1140px;
    height: 338px;
  }
}

.about-company {
  margin-top: 0;
  @include desktop {
    margin-top: 44px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;

  margin-left: 15px;

  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    height: 50px;
  }
}

.useful-link {
  margin: 0 auto;
  width: 1140px;
  height: 338px;
}

.footer-line {
  margin: 0;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid $color-description;
  opacity: 0.1;

  @include desktop {
    margin: 0;
  }
}

.terms {
  line-height: 157%;
  opacity: 0.6;
  font-size: 14px;
  margin-top: 22px;

  @include desktop {
    margin-top: 0;
    line-height: 129%;
  }
}

.terms__items {
  margin-right: 22px;
  text-decoration: none;
  color: $color-description;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
  @include desktop {
    height: 50px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.social-links__items {
  margin-left: 20px;
}

.social-links__items:first-child {
  margin-left: 0;
}

.logo {
  display: flex;
}

.logo__image {
  margin-right: 13px;
  width: 48px;
  height: 48px;

  margin-right: 15px;
  width: 60px;
  height: 60px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__title {
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
}

.logo__description {
  display: block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.6;
  color: $color-description;
}

.footer-description {
  display: none;
  margin: 0;
  @include desktop {
    display: block;
    margin-top: 25px;
    margin-bottom: 0;
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: rgba(43, 41, 45, 0.6);
  }
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 32px 15px 0 15px;

  @include desktop {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}

.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;

  margin-left: 15px;
  margin-right: 15px;

  @include desktop {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}

.additional-navigation__column {
  margin-top: 30px;

  @include desktop {
    margin-top: 0;
    margin-right: 29px;
  }
}

.correct {
  margin-top: 25px;
  @include desktop {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  color: $color-description;
}

.nav-links__list {
  padding: 0;
  margin: 0;
  margin-top: 18px;
  opacity: 0.6;
  list-style-type: none;
}

.nav-links__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: $color-description;
}

.footer .logo {
  @include smaller {
    display: none;
  }
}

// logo vertical

.logo-vertical {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  @include desktop {
    display: none;
  }
}

.logo-vertical__image {
  border-radius: 14px;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(138deg, #3142c6 0%, #af61d1 100%);
}

.logo-vertical__text {
  margin-top: 20px;
}

.logo-vertical__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: $color-description;
}

.logo-vertical__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: $color-description;
  opacity: 0.6;
}

.hide_desktop {
  @include desktop {
    display: none;
  }
}

.hide_mobile {
  @include smaller {
    display: none;
  }
}
