@import "./variables.scss";
@import "./mixins.scss";
@import "./media_breakpoints.scss";
.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 64px;
  width: 100%;
  background-color: $background-color-header-mobile;

  @include desktop {
    width: 1140px;
    height: 62px;
    margin: auto;
    background-color: $color-background-main;
  }
  .logo {
    display: flex;

    &__image {
      margin-right: 13px;
      width: 48px;
      height: 48px;

      @include desktop {
        margin-right: 15px;
        width: 60px;
        height: 60px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      font-size: 20px;
      line-height: 25px;
      font-weight: 700;
    }

    &__description {
      display: none;

      @include desktop {
        display: block;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        opacity: 0.6;
        color: $color-description;
      }
    }
  }

  &__button {
    display: none;

    @include desktop {
      display: block;
      @include custom-button;
    }
  }

  &__menu-button {
    height: 100%;
    margin-left: auto;
    width: 58px;
    border: none;
    border-left: 1px solid #00000026;

    background: transparent;

    @include desktop {
      display: none;
    }
  }

  &__menu-button-icon {
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  }
}

.navigation {
  display: none;

  @include desktop {
    display: block;
    margin-top: 7px;
    margin-left: auto;
    margin-right: 75px;
  }

  &__item {
    @include desktop {
      margin-right: 50px;
      color: $color-description;
      text-decoration: none;
      line-height: 25px;
      font-size: 18px;
    }
  }

  &__arrow {
    @include desktop {
      display: inline-block;
      margin-left: 11px;
      width: 8px;
      height: 5px;
      background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
    }
  }
  &.nav-list__item-selected {
    @include desktop {
      font-weight: 700;
    }
  }
  &:last-child {
    @include desktop {
      margin: 0;
    }
  }
}
