@mixin custom-button {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 2px;
  background-color: $color-background-blue;
  color: $color-text-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
