@mixin custom-button {
  width: 160px;
  height: 48px;
  background-color: $color-background-blue;
  color: $color-text-white;
  text-align: center;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
}
