.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  background-color: $background-color-order;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    max-height: 827px;
    //padding: 73px 0 72px 0;
  }
  &__illustration {
    margin-top: 53px;
    max-width: 200px;
    max-height: 220px;

    @include desktop {
      margin-right: 121px;
      margin-top: 72px;
      margin-bottom: 72px;
      max-width: 270px;
      max-height: 297px;
    }
  }

  &__details {
    margin-bottom: 43px;
    max-width: 555px;

    @include desktop {
      margin-top: 106px;
      padding-bottom: 105px;
    }
  }

  &__form {
    margin-top: 79px;
    @include desktop {
      display: flex;

      margin-top: 26px;
    }
  }

  &__title {
    margin-bottom: 0;
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: $color-description;
    text-align: center;
    width: 290px;
    height: 80px;
    @include desktop {
      text-align: left;
    }
  }

  &__text {
    margin: 0;
    margin-top: 18px;
    font-weight: 400;
    font-size: 22px;
    line-height: 145%;
    color: $color-description;
  }

  &__email {
    max-width: 290px;
    width: 100%;
    height: 48px;
    border: 1px solid $border-input;
    border-radius: 2px;
    background-color: $background-color-header-mobile;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 72%;
    color: $color-description;

    &::placeholder {
      color: $color-description;
    }

    @include desktop {
      margin-right: 10px;
      margin-top: 0;
      padding-left: 15px;
      text-align: left;
      max-width: 385px;
    }
  }

  &__button {
    @include custom-button;
    margin-top: 12px;
    width: 290px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);

    @include desktop {
      margin-top: 0;
      width: 160px;
    }
  }

  &__terms {
    margin-top: 12px;
    margin-bottom: 0;
    width: 290px;

    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: rgba(43, 41, 45, 0.6);

    @include desktop {
      margin-top: 10px;
      max-width: 555px;
    }
  }

  &__terms-link {
    color: $advantage-h5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}
