$color-background-blue: #3040c4;
$color-text-white: #ffffff;
$color-description: #2b292d;
$color-background-main: #f3c6bd;
$color-features-subtitle: #009b4d;
$advantage-h5: #3142c6;
$background-color-header-mobile: #fff;
$background-color-about: #f4f5f7;

$customers-border-color: #e3e3e3;

$audience-button-black: #000000;
$audience-background-mobile: #00a1c612;
$audience-background-selected: #3141c5;
$background-color-order: #f4f5f7;

$border-input: rgba(43, 41, 45, 0.2);
