$color-background-blue: #3040c4;
$color-text-white: #ffffff;
$color-description: #2b292d;
$color-background-main: #f3c6bd;
$color-features-title: #009b4d;
$advantage-h5: #3142c6;
$background-color-header-mobile: #fff;

$breakpoint_desktop: 400px;
